.diamonds{
    width: 25px;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    /* margin: 0.4rem; */
    position: relative;
    /* left: 10%; */
    /* bottom: 90%; */
    color: red;
}
